{# src/GSEB/PlatformBundle/Resources/views/Action/modif.html.twig #}

{% extends "@GSEBMain/layout.html.twig" %}

{% block title %}
  Selection de la baie 
{% endblock %}

{% block sebplatform_body %}

  <h2>Choississez la baie correspondante </h2>
   <p>
    Affichage des baies disponibles :
  </p>
  <ul>
  {% for baie in resultat %}
    <li class="list-group" >
      <a href="{{ path('gseb_demande_objtype', {'id_baie':   baie.id  } )}}" class="btn btn-primary " role="button" >
        {{ baie.name }}              
      </a>
    </li>
  {% endfor %}
  </ul>
 

{% endblock %}