{# src/GSEB/PlatformBundle/Resources/views/Action/modif.html.twig #}

{% extends "@GSEBMain/layout.html.twig" %}

{% block title %}
  Affichage du formulaire
{% endblock %}

{% block sebplatform_body %}

  <h2>Voici les données du form </h2>
  <div class="well">
    {{ form(form) }}
  </div>
  
{% endblock %}